---
title: Statistic
layout: layouts/builder.njk
bodyClass: il-formatted
---

<script>
const componentBuilder = {
    component_name: "il-statistic",
    component_template: `<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.`,
    background: ["", "white", "orange", "blue", "gradient", "orangegradient"],
    size: ["small", "medium", "large", "extralarge"],
    width: "230px"
}
</script>

