.idea
dist
html
node_modules
var
_homepage
homepage/data
homepage/array/environmentsPartial.txt
homepage/_data/environments.json
_site
site/data
site/array/componentsPartial.txt
site/_data/components.json
site/scripts/main.js
site/scripts/main-preview.js