<div class="il-formatted headingarea">
<h2>How to add it to your page</h2>

<p>Copy and paste this in your page. Remember</p><ul><li>Make sure you have updated your component to make sure the below code is completed.</li><li> Make sure you have the <a href="../index.html">Header code</a> in your header.</li></ul>

<code id="buildingCode"></code>
<p id="buildingCode-warning">Note that this uses the custom style 'builder-custom'. You may need to change this if you are using multiple versions of this component with different styles.</p>
<p><button class="il-button" onclick="copyCode();">Copy to Clipboard</button><span id="buildingCodeCopied" class="warning hide">Copied to clipboard</span></p>
</div>

