<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    {% include head.liquid %}
    <script src="../../scripts/main.js"></script>
    <link rel="stylesheet" href="../../styles/component.css" media="all">
    <title>Header Information on {{ currentEnvironment.name }} | Toolkit Builder | U of I </title>
</head>
<body style="margin: 0;">
    <nav class="builder-sidemenu">
    <il-content>
        <a class="il-button" href="../../index.html">Home</a>
    </il-content>
    </nav>
    <main>
    <il-content class="builder-frame">
        <h1>Header Information on {{ currentEnvironment.name }}</h1>
        
        <p>Copy and paste this in your &lt;head&gt; tag in your HTML page.</p>

    <code id="buildingCode">
    </code>

    <h2>Development and legacy options</h2>
    <p>This environment has the following code before the toolkit.</p>

    <code class="building">
    </code>

    <p>This environment has the following code after the toolkit.</p>

    <code class="building">
    </code>

    </main>
</body>
</html>
