<il-nav slot="navigation"> 
<il-nav-link>
<a href="/index.html" target="_self">Home</a>
</il-nav-link>
<il-nav-link>
<a href="/helpful-links/index.html" target="_self">Helpful Links</a>
</il-nav-link>
<il-nav-link>
<a href="/alternate/index.html" target="_self">Alternate Versions</a>
</il-nav-link>
<il-nav-link>
<a href="/colorcheck/index.html" target="_self">Color Checker</a>
</il-nav-link>
</il-nav>