<il-nav slot="navigation"> 
<il-nav-link>
<a href="/index.html" target="_self">Home</a>
</il-nav-link>
<il-nav-link>
<a href="/alternate/index.html" target="_self">Alternate Versions</a>
</il-nav-link>
<il-nav-link>
<a href="/colorcheck/index.html" target="_self">Color Checker</a>
</il-nav-link>
<il-nav-section>
<a href="/themes/index.html" slot="label">Preview Lists</a>
<ul class="il-subnav">
<li><a href="/themes/index.html" target="_self">Theme Information</a></li>
<li><a href="/preview-default/index.html" target="_self">Default Preview</a></li>
<li><a href="/preview-all/index.html" target="_self">See ALL THE THINGS!!!!</a></li>
</ul>
</il-nav-section>
<il-nav-section>
<a href="/helpful-links/index.html" slot="label">Help Notes</a>
<ul class="il-subnav">
<li><a href="/helpful-links/index.html" target="_self">Helpful Links</a></li>
<li><a href="/getting-started/index.html" target="_self">Getting Started</a></li>
<li><a href="/layout/index.html" target="_self">Layout Information</a></li>
<li><a href="/stylesheets/index.html" target="_self">Stylesheets and CSS variables</a></li>
</ul>
</il-nav-section>
</il-nav>