<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Preconnect -->
    <link rel="dns-prefetch" href="//cdn.brand.illinois.edu">
    <link rel="dns-prefetch" href="//cdn.disability.illinois.edu">
    <link rel="dns-prefetch" href="//onetrust.techservices.illinois.edu">

    <!-- Illinois Toolkit -->
    <link rel="icon" href="https://cdn.brand.illinois.edu/favicon.ico">
    <link rel="stylesheet" href="https://cdn.brand.illinois.edu/toolkit/2/toolkit.css" media="all">
    <script src="https://cdn.brand.illinois.edu/toolkit/2/toolkit.js"></script>

    <title>{{ title }}</title>
</head>
<body style="margin: 0;">
    <header>
        <il-header>
            <div slot="wordmark">
                <il-unit-wordmark>
                    <h1><a href="index.html">Component Builder Information</a></h1>
                </il-unit-wordmark>
            </div>
        </il-header>
    </header>
    <main>
    <div class="il-formatted" style="padding: 0 50px; max-width: var(--il-content-max-width); margin: auto;">
        {{ content }}

        {{ "Web Component List" | buildTableOfContents: components, environments }}

        <h3>Run into an issue?</h3>
        <p>Please create a Github issue so we can look into it.</p><a href="https://github.com/web-illinois/toolkit/issues/new" class="il-button">Report an issue</a>
    </div>
    </main>
</body>
</html>


