---
title: Call to Action
layout: layouts/builder.njk
---

<script>
const componentBuilder = {
    component_name: "il-call-to-action",
    component_template: `<span slot="icon" class="il-icon-line">faq</span>
<h3>Get started today!</h3>
<p>Enroll in a class after you are admitted as a non-degree student.</p>
<p><a href="#" class="il-button">Registration overview</a><a href="#" class="il-button">Contact Us</a><a href="#" class="il-button">Accessing email/Compass</a></p>`,
    alignment: [ "left", "center", "right" ],
    background: ["white", "blue", "orange", "orangegradient", "gradient"]
}
</script>

