---
title: Web Toolkit test pages
layout: layouts/page.njk
stylesheets: ['tests.css', 'index.css']
---

<h2>Components</h2>

<p>Do you have questions about how to use the Illinois Toolkit Web Components? Here are some tools to help you build them and experiment with how they look. </p>

<h3>Web Component List</h3>
<ul>
  <li>
    <a href="/clickable-card/index.html">Clickable Card</a> (<a href="https://github.com/web-illinois/toolkit/wiki/il-clickable-card">Documentation</a>)
  </li>
  <li>
    <a href="/hero/index.html">Hero</a> (<a href="https://github.com/web-illinois/toolkit/wiki/il-hero">Documentation</a>)
  </li>
    <li>
    <a href="/image-feature/index.html">Image Feature</a> (<a href="https://github.com/web-illinois/toolkit/wiki/il-image-feature">Documentation</a>)
  </li>
</ul>

<h3>Helpful Links</h3>
<ul>
  <li><a href="https://go.illinois.edu/webtoolkit">The Github Toolkit Wiki</a>, which has all the documentation</li>
  <li><a href="https://webtheme.illinois.edu/">The Web Implementation Guidelines Group Web Theme page</a>, which has information about the group</li> 
  <li><a href="https://wordpress.webtheme.illinois.edu/">The Illinois Theme for Wordpress</a></li>
  <li><a href="https://drupal.webtheme.illinois.edu/">The Illinois Theme for Drupal</a></li>
</ul>
<h3>Run into an issue?</h3>
<p>Please create a Github issue so we can look into it.</p>
<a href="https://github.com/web-illinois/toolkit/issues/new" class="il-button">Create an issue</a>