---
title: Clickable Card
layout: layouts/builder.njk
---

<script>
const componentBuilder = {
    component_name: "il-clickable-card",
    component_template: `<h3 slot="header">Student Life</h3>
    <p>Animal sciences students extend their learning and career networks beyond
    the classroom through internships, judging teams, student organizations, undergraduate research
    projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>`,
    width: "500px",
    src: "https://picsum.photos/1920/1280",
    href: "https://www.example.com",
    background: ["white", "blue"]
}
</script>

