:root {
  --ilbuilder-content-max-width: 1140px;
  --ilbuilder-content-margin: 30px;
}

button.il-button {
  border-color: var(--il-content--button--border-color);
  border-style: solid;
  border-width: 2px;
  background-color: var(--il-content--button--background-color);
  border-radius: .25em;
  color: var(--il-content--button--color, inherit);
  cursor: pointer;
  display: inline-block;
  font-family: var(--il-font-sans);
  font-size: max(var(--il-content--button--font-size), 19px);
  font-weight: 700;
  letter-spacing: .01em;
  line-height: 1em;
  outline: 0;
  margin: .25em .5em .25em 0;
  padding: .5em 1em;
  text-align: center;
  text-decoration: none;
}

button.il-button:hover,
button.il-button:focus {
  outline: 0;
  background-color: var(--il-blue);
  border-color: var(--il-blue);
  color: white;
}

table th, table td {
  padding: 20px;
}

caption {
  visibility: hidden;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
  transition: opacity 400ms;
}

.warning {
  color: red;
  margin-left: 20px;
  font-weight: bold;
}

.hidden {
  display: none;
}

code#buildingCode,
code.building {
  display: block;
  padding: 30px;
  background: var(--il-cloud);
  margin: 20px 0;
  border: thin solid black;
}

.template-information,
.template-information-parent,
.template-information-parent-style,
.template-information-attributes {
  display: none;
}

.builder-frame {
  padding: 0 var(--ilbuilder-content-margin);
  margin: 0 auto;
}

.builder-header {
  border-bottom: 2px solid green;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.builder-start {
  border-top: 2px solid green;
  margin-top: 20px;
  padding-top: 20px;
}

.builder-frame-wide {
  display: flex;
  column-gap: 20px;
  padding: 0 var(--ilbuilder-content-margin);
  margin-bottom: 20px;
}

.builder-frame-wide .children {
  flex: 0 1 50%;
  background: var(--il-cloud);
  padding: 20px;
  border: thin dashed var(--il-blue);
}

.builder-limit {
  max-width: var(--ilbuilder-content-max-width);
}

select,
input,
textarea {
  margin: 0;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  border: thin var(--il-blue) solid;
  width: auto;
}

input[type="checkbox"] {
  width: 20px;
}

select,
input {
  font: 16px/18px var(--il-source-sans);
}

input:focus,
textarea:focus,
select:focus,
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  background: var(--il-cloud);
  outline: 3px solid var(--il-altgeld);
}

input:hover,
textarea:hover,
select:hover {
  background: var(--il-cloud);
}

textarea#template,
textarea#pre {
  width: 90%;
  height: 200px;
}

.wrapping-group div,
#cssVariable-list div,
#class-list div,
#options div,
.template-option-group,
.theme-option-group {
  display: grid;
  align-items: center;
  grid-template-columns: 300px auto;
  margin: 20px 0;
}

.template-option-group h3,
.theme-option-group h3 {
  font-size: var(--il-content--font-size);
  text-align: right;
}

label {
  margin: 0 15px 0 0;
  text-align: right;
  line-height: 1.3em;
}


.builder-preview .builder-frame {
  margin-top: 50px;
}

.builder-preview .builder-frame-sample {
  margin-top: 50px;
  border-top: 1px solid var(--il-blue);
}

main {
  margin-top: 50px;
}

nav.builder-sidemenu {
  position: absolute;
  z-index: 10;
  padding: 5px 10px;
  right: 0;
  top: 0;
  display: flex;
  height: 90px;
  align-items: center;
  width: 410px;
}

nav.builder-sidemenu ul {
  padding: 0;
  margin: 0;
  display: flex;
}

nav.builder-sidemenu ul li {
  padding-left: 10px;
  list-style: none;
  margin-top: 0;
}