.show {
    opacity: 1;
}

.hide {
    opacity: 0;
    transition: opacity 400ms;
}
.warning {
    color: red;
    margin-left: 20px;
    font-weight: bold;
}

.il-formatted h3.component-heading {
    margin-top: 1.41379em;
}

.headingarea {
    padding: 0 50px;
}

.il-formatted.headingarea h2 {
    padding-top: 2rem;
}

.headingarea.text {
    max-width: var(--il-content-max-width);
    margin: 40px auto;
}

.headingarea .built {
    display: flex; 
    column-gap: 50px;
}

.headingarea .built .full-width {
    flex-grow: 1;
}

.headingarea .built .children {
    flex: 1 0 0;
}

#template-options {
    padding: 10px;
    font: 1rem var(--il-source-sans);
}

#options label.depreciated {
    display: none;
}

#options label, #class-list label, #style-list label {
    display: block;
    margin-top: 10px;
    background: var(--il-cloud-1);
    padding: 10px;
    font-family: var(--il-source-sans);
}

#options input, #options select, #class-list input, #class-list select, #style-list input, #style-list select {
    margin-left: 10px;
    font: 1rem var(--il-source-sans);
}

#options input, #class-list input, #style-list input {
    width: 300px;
}

#options input.length {
    width: 50px;
}

#options input.single, #class-list input.single, #style-list input.single {
    display: block;
}

#options .checklink {
    margin-left: 10px;
}

#style-list input {
    margin-left: 0px;
}

code#buildingCode, code.building {
    display: block;
    padding: 30px;
    background: var(--il-cloud);
    margin:  20px 0;
    border: thin solid black;
}

textarea#template, textarea#pre {
    width: 100%;
    height: 200px;
}

.template-information {
    display: none;
}

#samples h2 {
    margin: auto;
    max-width: var(--il-content-max-width);
    padding-top: 30px;
}

.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 150px);
    padding-top: 10px;
}

.grid > div {
    border: thin solid var(--il-cloud-2);
    text-align: center;
}

.headingarea .environment-production {
    display: none;
}

.headingarea .environment-development, .headingarea .environment-legacy {
    border-top: thin solid var(--il-blue);
    margin-top: 40px;
    border-bottom: thin solid var(--il-blue);
    margin-bottom: 40px;
}

.width-500 {
    width: 500px;
    max-width: 500px;
    margin: auto;
}

.width-800 {
    width: 800px;
    max-width: 800px;
    margin: auto;
}