<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="dns-prefetch" href="//cdn.brand.illinois.edu">
    <link rel="icon" href="https://cdn.brand.illinois.edu/favicon.ico">
    <link rel="stylesheet" href="https://cdn.brand.illinois.edu/toolkit/2/toolkit.css" media="all">
    <script src="https://cdn.brand.illinois.edu/toolkit/2/toolkit.js"></script>
    <title>{{ title }}</title>
</head>
<body style="margin: 0;">
    {% include header.liquid %}
    <main>
    <div class="il-formatted" style="padding: 20px 50px; max-width: var(--il-content-max-width); margin: auto;">
        {{ content }}

        {{ title | buildHomepage: environments }}

        <h2>What happened to the old Builder?</h2>

        <p>When we moved to version 3, this included a revamp of the builder. However, <a href="https://builder.toolkit.illinois.edu">the old Toolkit Builder</a> is still available. However, this has been frozen and will not be maintained. </p>

        {% include footer.liquid %}
    </div>
    </main>
</body>
</html>


