<header>
    <il-header>
        <div slot="wordmark">
            <il-unit-wordmark>
                <h1><a href="https://builder.toolkit.illinois.edu/index.html">Component Builder Information</a></h1>
            </il-unit-wordmark>
        </div>
        <il-nav slot="navigation"> 
            <il-nav-link>
                <a href="/index.html" target="_self">Home</a>
            </il-nav-link>
            <il-nav-link>
                <a href="/colorcheck/index.html" target="_self">Color Checker</a>
            </il-nav-link>
            <il-nav-link>
                <a href="/helpful-links/index.html" target="_self">Helpful Links</a>
            </il-nav-link>
            <il-nav-link>
                <a href="/shared-components/index.html" slot="label">Shared Components</a>
            </il-nav-link>
            <il-nav-link>
                <a href="/stylesheets/index.html" target="_self">Stylesheets and CSS variables</a>
            </il-nav-link>
            <il-nav-section>
                <a href="/getting-started/index.html" slot="label">Older Help Files</a>
                <ul class="il-subnav">
                    <li><a href="/getting-started/index.html" target="_self">Getting Started</a></li>
                    <li><a href="/layout/index.html" target="_self">Layout Information</a></li>
                    <li></li>
                </ul>
            </il-nav-section>
        </il-nav>
    </il-header>
</header>

