<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="dns-prefetch" href="//cdn.brand.illinois.edu">
    <link rel="icon" href="https://cdn.brand.illinois.edu/favicon.ico">
    <link rel="stylesheet" href="https://cdn.brand.illinois.edu/toolkit/2/toolkit.css" media="all">
    <script src="https://cdn.brand.illinois.edu/toolkit/2/toolkit.js"></script>
    <title>{{ title }}</title>
</head>
<body style="margin: 0;">
    {% include menu.liquid %}
    <main>
    <div class="il-formatted" style="padding: 20px 50px; max-width: var(--il-content-max-width); margin: auto;">
        {{ content }}
        <h3>Run into an issue?</h3>
        <p>Please create a Github issue so we can look into it.</p><a href="https://github.com/web-illinois/toolkit/issues/new" class="il-button">Report an issue</a>
    </div>
    </main>
</body>
</html>


