---
title: Hero
layout: layouts/builder.njk
---

<script>
const componentBuilder = {
    component_name: "il-hero",
    component_template: `<h1>Innovating solutions every year</h1>
    <ul>
        <li>
            <a href="#">Link 1</a>
        </li>
        <li>
            <a href="#">Link 2</a>
        </li>
        <li>
            <a href="#">Link 3</a>
        </li>
    </ul>`,
    align: [ "top left", "top center", "top right", "center left", "center center", "center right", "bottom left", "bottom center", "bottom right" ],
    background: "https://picsum.photos/1920/1280",
    color: ["blue", "orange"]
}
</script>

